<p-toast></p-toast>

<div class="card">
    <h5>Gestion Des Fichiers</h5>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Charger un fichier" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>

    </p-toolbar>
    <p-table  #dt [value]="fichiers" [paginator]="true" [rows]="10"  [globalFilterFields]="['montantGlobal','evenement','dateChargement']" responsiveLayout="scroll"
              [(selection)]="selectedClasses" [rowHover]="true" dataKey="id"
              [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Liste des Fichiers Chargés</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th pSortableColumn="evenement"> Evenement <p-sortIcon field="evenement"></p-sortIcon></th>
                <th pSortableColumn="montantGlobal">Montant Global <p-sortIcon field="montantGlobal"></p-sortIcon></th>
                <th pSortableColumn="nbrLigne"> Nombre de ligne <p-sortIcon field="nbrLigne"></p-sortIcon></th>
                <th pSortableColumn="dateChargement"> Date Chargement <p-sortIcon field="dateChargement"></p-sortIcon></th>
                <th pSortableColumn="certification"> Certification <p-sortIcon field="certification"></p-sortIcon></th>
                <th>Actions</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fichier>
            <tr>
                <td>
                    <p-tableCheckbox [value]="fichier"></p-tableCheckbox>
                </td>
                <td>{{fichier.evenement.moisCampagne}} - {{fichier.evenement.anneeCampagne}}</td>
                <td>{{fichier.montantGlobal}}</td>
                <td>{{fichier.nbrLigne}}</td>
                <td>{{fichier.dateChargement | date: 'dd/MM/yyyy'}}</td>
                <td class="text-center" style="min-width: 8rem;">
                    <i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': fichier.certification, 'false-icon pi-times-circle text-pink-500 ': !fichier.certification}"></i>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-bookmark-fill" class="p-button-rounded p-button-primary"  (click)="getDetailFichier(fichier)" pTooltip="Détails" ></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>

</div>

<p-dialog [(visible)]="classeDialog" [style]="{width: '450px'}" header="Charger un fichier" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" >
        <div class="p-field p-col" formControlName="evenement">
                <h5>Evénement</h5>
            <p-dropdown [options]="evenements" [(ngModel)]="evenementChoisi" placeholder="evenement" optionLabel="moisCampagne" [showClear]="true"></p-dropdown>


            <!--                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="evenementChoisi">-->
<!--                    <option selected>Choisir un événement</option>-->
<!--                    <option *ngFor="let evenement of evenements" [value]="evenement" (click)="getEvenement(evenement)">-->
<!--                        {{evenement.moisCampagne}} - {{evenement.anneeCampagne}}-->
<!--                    </option>-->
<!--                </select>-->
        </div>
        <div class="p-field p-col" >
                <h5>Statut</h5>
            <p-dropdown [options]="statuts" [(ngModel)]="statutChoisi" placeholder="Statut" optionLabel="libelle" [showClear]="true"></p-dropdown>

            <!--                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="statutChoisi">-->
<!--                    <option selected>Choisir un statut</option>-->
<!--                    <option *ngFor="let statut of statuts" [value]="statut" (click)="getStatut(statut)" >-->
<!--                        {{statut.libelle}}-->
<!--                    </option>-->
<!--                </select>-->
        </div>
        <div class="p-field p-col" formControlName="myFile">
                <h5>Fichier</h5>
<!--         <p-fileUpload mode="basic" chooseLabel="upload" name="myfile[]" (onUpload)="onFileChange($event)"></p-fileUpload>  &lt;!&ndash;     url="./upload.php"&ndash;&gt;-->
                <input  (change)="onFileChange($event)" class="form-control form-control-lg" id="formFileLg" type="file">
        </div>
            <!--<label for="montantGlobal">Montant Global</label>
            <input type="text" pInputText id="montantGlobal"  [(ngModel)]="fichier.montantGlobal" required autofocus />
            <small class="p-error" *ngIf="submitted && !fichier.montantGlobal">montant Global est obligatoire.</small> -->
    </ng-template>
    <div class="espace">

    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveFile()" ></button>
        <button pButton pRipple label="Upload" icon="pi pi-check" class="p-button-text" (click)="saveBeneficiaire(beneficiaire)" ></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="detailDialog" [style]="{width: '800px'}" header="Détail fichier" [closable]="false" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <h4  *ngIf="user" style="text-align: center">chargé par <b>{{ user.prenom }} {{ user.nom }}</b></h4>
        <br>
        <div class="global">
            <table class="tableaugauche">
                <tr>
                    <td>
                        <a class="gauche">Evenement:</a>
                    </td>
                    <td>
                        <p-badge class="droite" value="{{fichier.evenement.moisCampagne}} - {{fichier.evenement.anneeCampagne}}" size="large" severity="info"></p-badge>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <a class="gauche">Montant Global:</a>
                    </td>
                    <td>
                        <p-badge class="droite"  value="{{fichier.montantGlobal}}" size="large" severity="info"></p-badge>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <a class="gauche">Nombre de Ligne:</a>
                    </td>
                    <td>
                        <p-badge class="droite"  value="{{fichier.nbrLigne}}" size="large" severity="info"></p-badge>
                    </td>

                </tr>
                <br>
                <tr>
                    <td>
                        <a class="gauche">Date de Chargement:</a>
                    </td>
                    <td>
                        <p-badge class="droite"  value="{{fichier.dateChargement  | date: 'dd/MM/yyyy' }}" size="large" severity="info"></p-badge>
                    </td>

                </tr>
                <br>
                <tr>
                    <td>
                        <a class="gauche">Certification:<p-inputSwitch (click)="onCertifier(fichier)" [(ngModel)]="valSwitch"></p-inputSwitch></a>
                    </td>
                    <td>
                         <p-badge *ngIf="fichier.certification == true" class="droite" value="Certifié" size="large" severity="success"></p-badge>
                        <p-badge *ngIf="fichier.certification == false" class="droite" value="Non Certifié" size="large" severity="danger"></p-badge>
                    </td>

                </tr>
            </table>
            <table class="tableaudroite"  *ngIf="user">
                <tr>
                    <td>
                        <a class="gauche">Prenom:</a>
                    </td>
                    <td>
                        <p-badge class="droite"  value="{{user.prenom}} " size="large" severity="info"></p-badge>
                    </td>

                </tr>
                <br>
                <tr>
                    <td>
                        <a class="gauche">Nom:</a>
                    </td>
                    <td>
                        <p-badge class="droite"  value="{{user.nom}}" size="large" severity="info"></p-badge>
                    </td>

                </tr>
                <br>
                <tr>
                    <td>
                        <a class="gauche">Structure:</a>
                    </td>
                    <td>
                        <p-badge class="droite"  value="{{user.dg_structure.libelle}}" size="large" severity="info"></p-badge>
                    </td>

                </tr>
                <br>
                <tr>
                    <td>
                        <a class="gauche">Fonction:</a>
                    </td>
                    <td>
                        <p-badge class="droite"  value="{{user.dg_fonction.libelle}}" size="large" severity="info"></p-badge>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <a class="gauche">Matricule:</a>
                    </td>
                    <td>
                        <p-badge class="droite"  value="{{user.matricule}}" size="large" severity="info"></p-badge>
                    </td>
                </tr>
            </table>

        </div>

    </ng-template>
    <div class="espace">

    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideDetailFichierDialog()"></button>

    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>



