<div class="card">
    <h5>Rechercher un bénéficiaire</h5>


    <p-toolbar styleClass="mb-5">
    <div class="col-12 md:col-6">
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Taper le numéro de pension" cols="40" [(ngModel)]="numPensionArechercher">
            <button type="button" (click)="displayResults=false" pButton pRipple label="Rechercher" (click)="getBeneficiaireByNumPension(numPensionArechercher)"></button>
        </div>
    </div>
        </p-toolbar>
</div>


<!--<div class="col-12" >-->
    <div class="card" [hidden]="displayResults">
<!--        <div class="card">-->
            <h5>Résultat</h5>
            <p-tabView orientation="center" [(activeIndex)]="activeIndex1">
                <p-tabPanel header="INFOS" class="line-height-3 m-0">
<!--                    <div class="card" styleClass="mb-5">-->
                        <h5>Advanced</h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="firstname2">Nom du bénéficiaire</label>
                                <input pInputText id="firstname2" value="{{beneficiaireByNumPension.nomPrenom}}" disabled style="color :black" type="text" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="lastname2">Numéro Pension</label>
                                <input pInputText id="lastname2" value="{{beneficiaireByNumPension.numPension}}" disabled style="color :black" type="text" />
                            </div>
                            <div class="field col-12 md:col-6" >
                                <label htmlFor="address">Addresse</label>
                                <input pInputTextarea id="address" value="{{beneficiaireByNumPension.adresse}}" disabled style="color :black" rows="4" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="zip">Nationalite</label>
                                <input pInputText id="nationalite" value="{{beneficiaireByNumPension.nationalite}}" disabled style="color :black" type="text" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="zip">Téléphone</label>
                                <input pInputText id="telephone" value="{{beneficiaireByNumPension.telephone}}" [(ngModel)]="beneficiaireByNumPension.telephone" style="color :black" type="text" />
                            </div>

                            <div class="field col-12 md:col-6"></div>

                            <div class="field col-12 md:col-6">
                                <label htmlFor="zip">Type Piece</label>
<!--                                <input pInputText id="typePiece" *ngIf="!beneficiaireByNumPension.typePiece" value="{{beneficiaireByNumPension.typePiece}} id="typePiece1"  style="color :black" type="text" />-->
                                <p-dropdown id="typePiece2" [options]="typesDePieces" [(ngModel)]="beneficiaireByNumPension.typePiece" placeholder=""  [showClear]="true"></p-dropdown>

                            </div>

                            <div class="field col-12 md:col-6">
                                <label htmlFor="zip">Numéro Piece</label>
                                <input pInputText id="numPiece" value="{{beneficiaireByNumPension.numPiece}}" [(ngModel)]="beneficiaireByNumPension.numPiece" style="color :black" type="text" />
                            </div>


                            <div class="field col-12 md:col-6">
                                <label htmlFor="zip">Date d'expiration Piece</label>
                                <input pInputText id="dateExpirationPiece" value="{{beneficiaireByNumPension.dateExpirationPiece}}" [(ngModel)]="beneficiaireByNumPension.dateExpirationPiece" style="color :black" type="text" />
                            </div>
                        </div>
<!--                    </div>-->
<!--                    <p-button (click)="activeIndex1 = 0" styleClass="p-button-text" label="Activate 1rd"></p-button>-->
<!--                    <p-button (click)="activeIndex1 = 1" styleClass="p-button-text" label="CONFIRMER" style="{'margin-left': '.5em'}"></p-button>-->
                    <div style="text-align:center">
                    <button style="text-align:center" pButton pRipple type="button" (click)="activeIndex1 = 1;updateBeneficiaire()" label="CONFIRMER" class="p-button-raised p-button-info mr-2 mb-2"></button>
                    </div>




                </p-tabPanel>

                <p-tabPanel header="EVENEMENTS" class="line-height-3 m-0" [disabled]="true">
                    <p-table [value]="beneficiaireByNumPension.detailBeneficiaires" responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="flex align-items-center justify-content-between">
                                Evenements
                                <p-button icon="pi pi-refresh"></p-button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>dateCreation</th>
                                <th>moisCampagne</th>
                                <th>anneeCampagne</th>
                                <th>dateCloture</th>
                                <th>status Evenement</th>
<!--                                <th>Montant</th>-->
<!--                                <th>Statut Beneficiaire</th>-->
                                <th></th>
                                <!--                        <th>Status</th>-->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-details>
<!--                            <tr *ngIf="!details.paye">-->
                            <tr>
                            <td>{{details.fichier.evenement.dateCreation | date:'dd/MM/yy'}}</td> <!-- | date:'M/d/yy'-->
                                <td>{{details.fichier.evenement.moisCampagne}}</td>
                                <td>{{details.fichier.evenement.anneeCampagne}}</td>
                                <td>{{details.fichier.evenement.dateCloture | date:'dd/MM/yy'}}</td>
                                <td>{{details.fichier.evenement.status}}</td>

                                <button *ngIf='details.fichier.evenement.status == "EN COURS"' pButton pRipple type="button" label="Choisir" (click)="choix(details)"  (click)="activeIndex1 = 2"  class="p-button-raised mr-2 mb-2"></button>

                            </tr>
                        </ng-template>
<!--                        <ng-template pTemplate="summary">-->
<!--                            <div class="flex align-items-center justify-content-between">-->
<!--                                In total there are {{beneficiaireByNumPension.detailBeneficiaires ? beneficiaireByNumPension.detailBeneficiaires.length : 0 }} results-->
<!--                            </div>-->
<!--                        </ng-template>-->
                    </p-table>
<!--                    <p-button (click)="activeIndex1 = 2" styleClass="p-button-text" label="Activate 3rd" style="{'margin-left': '.5em'}"></p-button>-->

                </p-tabPanel>

                <p-tabPanel header="PAIEMENT" [disabled]="true" class="line-height-3 m-0">
<!--                    <ng-template pTemplate="infos"></ng-template>-->
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label htmlFor="firstname2">Montant</label>
                            <input pInputText  value="{{detailBeneficiaireChoisi.montant}}" disabled style="color :black" type="text" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="lastname2">Statut</label>
                            <input pInputText  value="{{detailBeneficiaireChoisi.statut.libelle}}" disabled style="color :black" type="text" />
                        </div>

<!--                        <div class="field col-12 md:col-6">-->
<!--&lt;!&ndash;                            <label htmlFor="lastname2">Statut</label>&ndash;&gt;-->
<!--                            <p-dropdown [options]="listeDesStatuts" [(ngModel)]="statutSelected" placeholder="Select a City" optionLabel="libelle" [showClear]="true"></p-dropdown>-->
<!--                        </div>-->
                    </div>

                    <div style="text-align:center" *ngIf="!detailBeneficiaireChoisi.paye">
                        <button style="text-align:center" pButton pRipple type="button"  label="PAYER" (click)="displayDialog=true;verificationPaiement()" class="p-button-raised p-button-info mr-2 mb-2"></button>
                    </div>
                    <div style="text-align:center" *ngIf="detailBeneficiaireChoisi.paye">
                        <p-message severity="error" text="LE PAIEMENT A ÉTÉ DÉJA EFFECTUÉ"></p-message>
                    </div>
                    <p-dialog header="Confirmer le paiement" [(visible)]="displayDialog" modal="modal" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
                        <p>Nom : {{beneficiaireByNumPension.nomPrenom}}</p>
                        <p>Num Pension : {{beneficiaireByNumPension.numPension}}</p>
                        <p>Type Pièce : {{beneficiaireByNumPension.typePiece}}</p>
                        <p>Num Pièce : {{beneficiaireByNumPension.numPiece}}</p>
                        <p>Evenenement : {{detailBeneficiaireChoisi.fichier.evenement.moisCampagne}} {{detailBeneficiaireChoisi.fichier.evenement.anneeCampagne}}</p>
                        <p>Montant : {{detailBeneficiaireChoisi.montant}}</p>
                        <ng-template pTemplate="footer">
<!--                            <p *ngIf="!existenceCaisse">VOUS NE POSSEDEZ PAS DE CAISSE</p>-->
                            <p-message *ngIf="!existenceCaisse" severity="error" text="VOUS NE POSSEDEZ PAS DE CAISSE"></p-message>
                            <button *ngIf="existenceCaisse" pButton icon="pi pi-check" (click)="displayDialog=false;savePaiement();showSuccess()" label="Ok" class="p-button-outlined"></button>
                            <p-toast position="top-center" key="tc"></p-toast>

                            <!--                            <button type="button" pButton pRipple (click)="showSuccess()" label="Success" class="p-button-success mb-2"></button>-->


                        </ng-template>
                    </p-dialog>

                </p-tabPanel>

            </p-tabView>
<!--        </div>-->



    </div>

<div  id="testImpression">
<!--    <table>
        <tr>
            <td rowspan="4">
                azertyuiop
            </td>
        </tr>
        <br>
        <tr>
            <td rowspan="4">dfghjk</td>
            <td rowspan="4" >dfghjkdddddd</td>
        </tr>
    </table>-->
<div class="recu">
    <div class="ligne">
        <img src="assets/layout/images/laposte.png" class="logo" alt="logo">
    </div>
    <div class="ligne">
        <p id="donnee">
            Pension ID: 2345678 <br>
            Sequence ID: 567890 <br>
            Mois Echéance: Juillet
        </p>
        <p id="donneecentre">
            Date d'envoi: 26/07/2021 <br>
            Date de paiement: 26/07/2022 <br>
        </p>
        <p id="donneedroite">
            Statut: Payé <br>
            Payé par: Mouhamed DIALLO <br>
        </p>

    </div>
    <div class="deux">
        <div class="gauche">
            <p class="donnee">
                Destinataire
            </p>
        </div>
        <div class="droite">
            <p class="donnees">
                JE NE SAIS PAS<br>
                OUEROR <br>
                Sénégal
            </p>
            <p class="donneecentre">
                 <br>
                Montant <br>
            </p>
            <p class="donneedroite">
                 <br>
                XOF 64,484 <br>
            </p>
        </div>
    </div>
    <div class="deux">
        <div class="gauche">
            <p class="donnee">
                Agent Employeur
            </p>
        </div>
        <div class="droite">
            <p class="donnees">
                ENIM<br>
                4 Aenue Eric <br>
                Sénégal - 3000007
            </p>
        </div>
    </div>
    <div class="deux">
        <div class="gauche">
            <p class="donnee">
                Agent Payeur
            </p>
        </div>
        <div class="droite">
            <p class="donnees">
                SINDIA<br>
                MBOUR <br>
                Sénégal - 116 200
            </p>

        </div>
    </div>
    <div class="deux">
        <div class="droite1">
            <p class="signature">
                Signature Agent
            </p>

        </div>
        <div class="gauche1">
            <p class="signature">
                Signature Client
            </p>
        </div>
    </div>
</div>

</div>


<button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
<!--</div>-->


<!--<p-dropdown [options]="listeDesStatuts" [(ngModel)]="statutSelected" placeholder="Select a City" optionLabel="libelle" [showClear]="true"></p-dropdown>
-->


