.col-12 {
    flex: 0 0 auto;
    width: 50%;
}

#testImpression{
    background-color: white;
    //width:200px;
    //height:200px;
    //color:black;
    //line-height: 200px;
    //text-align: center;
    //text-decoration: underline;
}
