.droite
{
    position: relative;
    left: 3%;
}

.gauche
{
    font-size: 17px;
    font-weight: bold;
    color: #343a40;;
}
/*.pi
{
    position: relative;
    left: 3%;
    height: 5%;
    width: 5%;
}*/
.global{
    display: flex;
}

.tableaudroite
{
    width: 445px;
    border-left: thick double #0B5ED7;

}
.tableaugauche
{
    width: 345px;
    border-right: thick double #0B5ED7;
}

.flex-column {
    flex-direction:  row !important;
}
