<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="row espace">
                <div class="col-sm">
                    <h5 htmlFor="Date1">Date 1 Début</h5>
                    <input pInputText id="date1" type="Date" [(ngModel)]="date1" />
                </div>
                <div class="col-sm">
                    <h5 htmlFor="Date2">Date 2 Fin</h5>
                    <input pInputText id="date2" type="Date" [(ngModel)]="date2" />
                </div>
                <div class="col-sm margeTop">
                    <button pButton pRipple type="button" icon="pi pi-search" class="position p-button-rounded p-button-success mr-2 mb-2"
                    (click)="rechercheByBureau(date1, date2)"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//////////////////////////////-->

<div class="grid" *ngIf="resultRecherches">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <b>{{user.dg_structure.libelle}}</b>
                    <b class="left"> <u>Montant total</u> : {{montantTotal}} FCFA</b>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export exel" icon="pi pi-upload" class="mr-2 inline-block" (click)="dt.exportCSV()"></button>
                    <button pButton pRipple label="Export csv" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="resultRecherches" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="idCaisse">Caisse <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="datePaiement">Date Paiement <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="beneficiaire">Beneficiaire <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="idUser">Agent Payeur <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="evenement">Evenement <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                        <th pSortableColumn="montant">Montant (FCFA) <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-resultRecherche>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Code</span>
                            {{resultRecherche.idCaisse.libelle}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{resultRecherche.datePaiement | date: 'dd/MM/yyyy' }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{resultRecherche.detailBeneficiaire.beneficiaire.nomPrenom}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{resultRecherche.idUser.prenom}} {{resultRecherche.idUser.nom}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Evenement</span>
                            {{resultRecherche.evenement.moisCampagne}}, {{resultRecherche.evenement.anneeCampagne}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Montant</span>
                            {{resultRecherche.detailBeneficiaire.montant.toLocaleString('fr-FR')}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
