/*.espace{
    margin-top: 20px;
}*/
label{
    font-size: 18px;
}

.margeTop{
    margin-top: 25px !important;
}

.left{
    margin-left: 40px;
}

.p-button.p-button-rounded {
    border-radius: 1rem !important;
    //margin-top: 18px;
    width: 50%;
}
